<section id="home" class="section-wrapper-odd">
    <div class="bg-img"></div>
    <div class="slogan-wrapper">
        <h1 class="slogan-header">Yifan Zhu</h1>
        <h1 class="slogan-subheader">Software Developer</h1>
    </div>
    <div class="profile-wrapper">
        <img class="profile-img" src="http://res.cloudinary.com/dihnc49qr/image/upload/v1478480230/IMG_2543_xmrmyw.jpg">
    </div>
</section>
<section id="experience" class="section-wrapper-even" layout-margin>
    <div class="section-padding">
        <h1>Work Experience</h1>
        <hr class="section-header-seperator">
        <div layout="row" layout-align="space-between center">
          <div class="work-info">
            <h4>{{workExp.company}}</h4>
            <h4>{{workExp.title}} --- {{workExp.duration}}</h4> 
          </div>
          <div>
            <md-button class="md-raised md-primary" ng-click="preview($event)">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp
              Download CV
            </md-button>
          </div>
        </div>  
        <div uib-carousel active="active">
          <div uib-slide ng-repeat="project in workExp.projects track by project.id" index="project.id" >
            <md-content class="slider-item" layout="row">
              <div flex="50">
                <img class="slider-item-image" style="" src="{{project.image}}">
              </div>
              <div flex="50" class="slider-item-text">
                <p class="project-title" style=" ">Project Name </p>
                <p class="project-description">{{project.title}}</p>
                <p class="project-title">Description</p>
                <p class="project-description">{{project.description}}</p>
              </div>  
            </md-content>
          </div>
        </div>
    </div>
</section>
<section id="portfolio" class="section-wrapper-odd" layout-margin>
    <div class="section-padding">
        <h1>Portfolio</h1>
        <div layout-xs="column" layout="row" layout-wrap>
         <md-card ng-click="" flex="30">
            <img ng-src="" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">1</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
          <md-card ng-click="" flex="30">
            <img ng-src="" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">2</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
          <md-card ng-click="" flex="30">
            <img ng-src="" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">3</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>
    </div>
</section>