<div ng-cloak style="position: fixed;
    z-index: 9;
    width: 100%;">
    <md-content>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="redirect('home') || scroll('home')" name="home">Home</md-nav-item>
            <md-nav-item md-nav-click="scroll('experience')" name="experience">Experience</md-nav-item>
            <md-nav-item md-nav-click="scroll('portfolio')" name="portfolio">Portfolio</md-nav-item>
            <md-nav-item md-nav-click="scroll('contact')" name="contact">Contact</md-nav-item>
        </md-nav-bar>
    </md-content>
</div>