<md-dialog aria-label="Resume">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Resume</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        	<i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <embed src="https://res.cloudinary.com/dihnc49qr/image/upload/v1485998557/Yifan_Zhu_Resume.pdf" width="800px" height="2100px" />
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>